<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <ol>
            <li v-for="(item, index) in itemList">
                {{index}} - {{item}}
            </li>
        </ol>
        <ul>
            <li v-for="value in object">
                {{value}}
            </li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip = false
        data = {
            itemList:{
                aa:'bb',
                cc:'dd',
            },
            object:{
                title:'How to do lists in Vue',
                author:'cowboy',
                at:'2021-12-02'
            }
        }
        vm = new Vue({
            el:'#app',
            data:data,
        })
    </script>
</body>
</html>