<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <ol>
            <li v-for="(item, index) in itemList">
                {{index}} - {{item}}
            </li>
        </ol>
        <ul>
            <li v-for="(value,name,index) in object" v-bind:key="index">
                {{index}}-{{name}}-{{value}}
            </li>
        </ul>

        <ul>
            <li v-for="(item,index) in evenNumbers" v-bind:key="index">
                {{item}}
            </li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip = false
        data = {
            itemList:{
                aa:'bb',
                cc:'dd',
            },
            object:{
                title:'How to do lists in Vue',
                author:'cowboy',
                at:'2021-12-02'
            },
            numbers : [1,2,3,4,5]
        }
        
        vm = new Vue({
            el:'#app',
            data:data,
            computed:{
                evenNumbers:function () {
                    return this.numbers.filter(function (number) {
                        return number & 1;
                    })
                }
            }
        })
    </script>
</body>
</html>